body {
  background-color: #443b21;
}

header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #d3a625;
}

p {
  font-family: "Montserrat";
  color: white;
}

#search {
  margin: 10px 10px;
  width: 200px;
  height: 25px;
  background-color: #aaaaaa;
  border: 2px solid black;
}

button {
  font-family: "Montserrat";
  padding: 1.35em 2.2em;
  border: 0.2em solid #eeba30;
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  color: #e2e2e2;
  transition: all 0.2s;
  box-shadow: 1px 2px black;
  border-radius: 5px;
  background-color: #eeba30;
}

button:hover {
  color: white;
  background-color: #d3a625;
  border: 0.2em solid #d3a625;
  box-shadow: none;
}
