* {
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 40px;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 25px;
}

/*HEADER*************************/

header {
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  border-bottom: black 1px solid;
}

#logo {
  display: inline-block;
  float: left;
}

#header_title {
  display: inline-block;
  text-transform: uppercase;
}

/*NAV****************************/
nav {
  border-bottom: black 1px solid;
  display: flex;
  justify-content: space-around;
}

select {
  margin-bottom: 0;
  text-transform: uppercase;
  width: 33%;
  font-size: 25px;
  height: 55px;
  line-height: 15px;
  color: #0a0a0a;
  padding: 2px 0px 2px 0px;
  text-align: center;
  -webkit-appearance: none;
  border: 0px solid #0a0a0a;
  background-color: rgba(36, 30, 30, 0.06);
  border-right: 1px solid black;
}

/*MAIN***************************/
main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/*SECTION COUNT******************/
#count {
  padding: 10px 0px 0px 20px;
}

#count p,
h2 {
  padding-bottom: 10px;
}

/*SECTION LISt*******************/

#list {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

  border-left: 1px solid black;
  padding: 10px 0px 0px 20px;
}

article {
  width: 280px;
  height: 350px;
  background-color: #f0c653;
  border-radius: 15px;
}

article img {
  width: 150px;
  margin-top: 20px;
}

article p {
  font-family: "Open Sans", sans-serif;
  color: black;
  line-height: 35px;
  text-align: center;
}
