body {
  background-color: #443b21;
}

header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #d3a625;
}

p {
  font-family: "Montserrat";
  color: white;
}

#search {
  margin: 10px 10px;
  width: 200px;
  height: 25px;
  background-color: #aaaaaa;
  border: 2px solid black;
}

/* BUTTONS */

button {
  font-family: "Montserrat";
  padding: 1.35em 2.2em;
  border: 0.2em solid #eeba30;
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  color: #e2e2e2;
  transition: all 0.2s;
  box-shadow: 1px 2px black;
  border-radius: 5px;
  background-color: #eeba30;
}

button:hover {
  color: white;
  background-color: #d3a625;
  border: 0.2em solid #d3a625;
  box-shadow: none;
}
/* POPUP */
#popop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* display: none; */
  overflow: scroll;
}

#popop article {
  /* display: none; */
  width: 60vw;
  height: 80vh;
  margin: 4rem auto;
  background-color: #ffffff;
  border-radius: 15px;
}
#close {
  position: fixed;
  font-family: "Montserrat";
  padding: 1.35em 2.2em;
  border: 0.2em solid #ae0001;
  text-decoration: none;
  font-weight: 300;
  font-size: 10px;
  color: black;
  transition: all 0.2s;
  box-shadow: 1px 2px black;
  border-radius: 5px;
  background-color: #ae0001;
  top: 5vw;
  right: 21vw;
}
#close:hover {
  color: white;
  background-color: black;
  border: 0.2em solid black;
  box-shadow: none;
}

#popop h2 {
  margin-left: 20px;
  color: #d3a625;
}

#popop p {
  font-family: "Montserrat";
  margin-left: 20px;
  color: #d3a625;
}

#popop img {
  width: 60%;
  margin: 20px;
}
